.new-check {
    margin: 0 auto;
    text-align: center;
    width: 390px;
}

.new-check-button {
    background: #39a0ed;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    padding: 4px 10px 0;
    transition: all 0.2s ease-in-out;
    width: 300px;
}

.new-check-button:hover {
    color: #232c32;
    transition: all 0.2s ease-in-out;
}

.tables {
    background: #232c32;
    margin: 15px 0;
    padding: 15px 15px 15px;
    width: 390px;
}

.tables__title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.tables__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.table-button {
    color: #fff;
    border: none;
    border-radius: 50%;
    background: #39a0ed;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    height: 42px;
    line-height: 24px;
    margin: 0 15px 30px;
    transition: all 0.2s ease-in-out;
    width: 42px;
}

.table-button:hover {
    color: #232c32;
    transition: all 0.2s ease-in-out;
}

.table-button:disabled {
    cursor: not-allowed;
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.cancel-check-button {
    background: #f45531;
    border: none;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 18px;
    margin: 0;
    padding: 2px 9px 0;
    transition: all 0.2s ease-in-out;
}

.cancel-check-button:hover {
    color: #2d201f;
    transition: all 0.2s ease-in-out;
}
