.active-check {
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0 auto;
    min-width: 450px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.active-check__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.active-check__dismiss {
    background: #f45531;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    line-height: 24px;
    margin: 0;
    transition: all 0.2s ease-in-out;
    width: 30px;
}

.active-check__dismiss:hover {
    color: #2d201f;
    transition: all 0.2s ease-in-out;
}

.active-check__title {
    font-size: 13px;
    margin: 0;
}

.active-check__table {
    font-weight: bold;
}

.active-check__info {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}

.active-check__item-heading {
    margin: 24px 15px 6px;
}

.active-check__ordered-items {
    border-collapse: collapse;
    border-color: transparent;
    margin-bottom: 15px;
    width: 100%;
}

.ordered-item {
    font-size: 13px;
    height: 42px;
}

.ordered-item.void td {
    opacity: 0.2;
    text-decoration: line-through;
}

.ordered-item:nth-child(odd) {
    background: rgba(0, 0, 0, 0.2);
}

.ordered-item__name {
    font-weight: bold;
    padding-left: 15px;
    text-transform: capitalize;
}

.ordered-item__price {
    font-weight: bold;
    padding-right: 15px;
    text-align: right;
}

.ordered-item__void {
    padding-left: 15px;
    width: 90px;
}

.void-button {
    background: #f45531;
    border: none;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 18px;
    margin: 0;
    padding: 2px 9px 0;
    transition: all 0.2s ease-in-out;
}

.void-button:hover {
    color: #2d201f;
    transition: all 0.2s ease-in-out;
}

.active-check__tax,
.active-check__tip {
    font-size: 13px;
    margin-bottom: 9px;
    margin-right: 15px;
    text-align: right;
}

.active-check__close-button {
    margin: 30px 0 15px;
    text-align: center;
}

.close-button {
    background: #21ce99;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    line-height: 24px;
    padding: 0 15px;
    transition: all 0.2s ease-in-out;
}

.close-button:hover {
    color: #182b27;
    transition: all 0.2s ease-in-out;
}
