.items {
    min-width: 240px;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.items.active {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
}

.items__title {
    margin-top: 0;
    padding: 0 15px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    padding: 0 15px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.item.loading {
    cursor: progress;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    background: #232c32;
    transition: all 0.2s ease-in-out;
}

.item:hover .item__icon {
    color: #232c32;
    transition: all 0.2s ease-in-out;
}

.item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    border-radius: 50%;
    background: #39a0ed;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    transition: all 0.2s ease-in-out;
}

.item__text {
    padding: 6px;
}

.item__name {
    font-weight: bold;
    text-transform: capitalize;
}
