.checks {
    border-right: 1px solid #fff;
    height: 100vh;
    min-width: 240px;
    overflow-y: scroll;
}

.checks__empty {
    color: #bbb;
    padding: 30px;
    text-align: center;
}

.checks__open .checks__title {
    color: #21ce99;
    padding: 0 15px;
}

.checks__closed .checks__title {
    color: #f45531;
    padding: 0 15px;
}

.check {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 6px 15px;
    transition: all 0.2s ease-in-out;
}

.check.open:hover {
    background: #182b27;
    transition: all 0.2s ease-in-out;
}

.check.active.open {
    background: #21ce99;
    color: #182b27;
    transition: all 0.2s ease-in-out;
}

.check.closed:hover {
    background: #2d201f;
    transition: all 0.2s ease-in-out;
}

.check.active.closed {
    background: #f45531;
    color: #2d201f;
    transition: all 0.2s ease-in-out;
}

.check__id {
    font-weight: bold;
}

.check__table {
    background: #21ce99;
    border: 1px solid #21ce99;
    border-radius: 50%;
    color: #182b27;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    width: 30px;
}

.check.open .check__table {
    background: #21ce99;
    border: 1px solid #21ce99;
    color: #182b27;
    transition: all 0.2s ease-in-out;
}

.check.closed .check__table {
    background: #f45531;
    border: 1px solid #f45531;
    color: #2d201f;
    transition: all 0.2s ease-in-out;
}

.check.active.open .check__table {
    border-color: #182b27;
    color: #182b27;
    transition: all 0.2s ease-in-out;
}

.check.active.closed .check__table {
    border-color: #2d201f;
    color: #2d201f;
    transition: all 0.2s ease-in-out;
}

.check-filter {
    align-items: center;
    background: #2d201f;
    color: #fff;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
    padding: 6px 15px;
}

.check-filter input {
    background: #171718;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-left: 9px;
    padding: 6px 9px;
    width: 42px;
}

.check-filter__clear-button {
    background: #fff;
    background: #f45531;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    margin-left: 12px;
    padding: 6px 12px;
    transition: all 0.2s ease-in-out;
}

.check-filter__clear-button:hover {
    background: #ff6340;
    transition: all 0.2s ease-in-out;
}
