* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #bbb;
    font-size: 18px;
    margin: 18px 0 6px;
    text-align: left;
}

body {
    background: #1b1b1d;
    color: #fff;
    margin: auto;
}
